.header {
  max-width: 1440px;
  margin-inline: auto;
}

.header__button {
  width: 70%;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.2188rem;
  padding: 0;
  justify-content: flex-start;
  gap: 1.5rem;
  border: none;
  margin-bottom: 6rem;
  position: absolute;
  left: 0;
}

.header__button:hover {
  background-color: var(--clr-primary-100);
  color: var(--clr-white);
}

.header__button_logo {
  width: 25%;
  padding-block: 1.5rem;
  padding-inline: auto;
}

.header__button_logo:hover {
  background-color: var(--clr-primary-200);
}

.about__container {
  padding-block: 1rem;
  padding-inline: 1rem;
}

.about__title {
  font-size: 50px;
}

.about__subtitle {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about__description {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 2rem;
}

.footer {
  max-width: 1440px;
  width: 100%;
  padding-block: 3rem;
  padding-inline: 2rem;
  flex-direction: column;
}

.footer__title {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.footer__description {
  line-height: 26px;
  margin-bottom: 2rem;
}

.socials {
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.social {
  width: 20px;
  height: 20px;
}

.social:hover {
  color: var(--clr-white);
}

@media (min-width:396px) {
  .header__button {
    width: 35%;
    left: 5%;
  }

  .about {
    grid-template-columns: 1fr 2fr;
    grid-gap: 3rem;
    padding-inline: 2rem;
    padding-block: 3rem;
  }

  .about__title {
    line-height: 50px;
  }

  .footer {
    flex-direction: row;
    gap: 3rem;
  }

  .footer__description {
    max-width: 25ch;
  }
}